@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap&subset=latin-ext");

body {
  margin: 0;
  font-family: "Indie Flower", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header,
main,
footer {
  padding: 0 10%;
}

h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
}
